body {
	padding-top: 60px;
}
a {
	cursor: pointer;
}
h1 {
	margin-bottom: 1em;
}

/* details page */
.nutrient-gauge {
	margin-right: 7px;
}
.nutrient-description {
	margin-top: 5em;
}

/* svg gauge */
.gauge {
	width: 80px;
	height: 380px;
}
.gauge-unit {
	font-size: 18px;
}
.gauge-lines line {
	stroke: #000;
	stroke-width: 1;
}
.gauge-lines text {
	font-size: 20px;
}
.gauge-tube {
	stroke: #000;
	stroke-width: 2;
	fill: none;
}
.gauge-value,
.gauge-value-2 {
	stroke: none;
}
.gauge-value {
	fill: #FF0000;
}
.gauge-value-2 {
	fill: #FF8E1C;
}