body {
	min-width: 800px;
	padding-top: 60px;
}

#map {
	left: 0;
	right: 0;
	z-index: 0;
	position: absolute;
	top: 50px;
	bottom: 0;
}

.info {
	padding: 6px 8px;
	font: 14px/16px Arial, Helvetica, sans-serif;
	background: white;
	background: rgba(255,255,255,0.8);
	box-shadow: 0 0 15px rgba(0,0,0,0.2);
	border-radius: 5px;
	min-width: 300px;
}
.info h4 {
	margin: 0 0 5px;
	color: #777;
}

/* svg gauge */
.gauge-unit {
	font-size: 18px;
}
.gauge-lines line {
	stroke: #000;
	stroke-width: 1;
}
.gauge-lines text {
	font-size: 20px;
	text-anchor: middle;
}
.gauge-tube {
	stroke: #000;
	stroke-width: 2;
	fill: none;
}
.gauge-value {
	fill: #FF0000;
	stroke: none;
}