body, html {
	width: 100%;
	height: 100%;
}
body {
	color: #FFF;
}
.navbar {
	border-radius: 5px 5px 0 0;
	border: #2a9fd6 !important;
	margin-left: 0;
	padding-left: 0;
}
a {
	cursor: pointer;
}
.img-float {
	margin-left: 14px;
}
.info-text-container {
	max-width: 600px;
	margin: 0 auto;
}
h1 {
	margin-bottom: 24px;
}
.state-1 h1 {
	margin: 1.5em 0 0.75em 0;
}
.form-choose-location-quick {
	margin: 10px 0 60px 0;
}
.footer a,
.footer {
	color: #EEE;
	font-size: 12px;
}
.footer {
	margin: 100px 0 100px 0;
	text-align: center;
}
h2 {
	margin: 2em 0 1em 0;
}
h4 {
	margin: 2.5em 0 1em 0;
}
.bg-gradient {
	background: #007bc3;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiMwMDdiYzMiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMDA1NzhhIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L3JhZGlhbEdyYWRpZW50PgogIDxyZWN0IHg9Ii01MCIgeT0iLTUwIiB3aWR0aD0iMTAxIiBoZWlnaHQ9IjEwMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-radial-gradient(center, ellipse cover,  #007bc3 0%, #00578a 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#007bc3), color-stop(100%,#00578a));
	background: -webkit-radial-gradient(center, ellipse cover,  #007bc3 0%,#00578a 100%);
	background: -o-radial-gradient(center, ellipse cover,  #007bc3 0%,#00578a 100%);
	background: -ms-radial-gradient(center, ellipse cover,  #007bc3 0%,#00578a 100%);
	background: radial-gradient(ellipse at center,  #007bc3 0%,#00578a 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007bc3', endColorstr='#00578a',GradientType=1 );
}
.choose-location-well {
	background: #2a9fd6;
	border: none;
	max-width: 600px;
	margin-top: 100px;
}
.nav {
	margin: 2em 0 3em 0;
}
li.nav-li-main.active a {
	background-color: #2a9fd6 !important;
}
svg text {
	fill: #FFF;
}
.result {
	margin-bottom: 10em;
}
.attribute-description-hardness {
	padding-top: 3em;
}

/* bar chart */
.bar-chart-img {
	width: 100%;
	height: 350px;
}
.comparison-description {
	margin: 0 0 3em 0;
}
.axis {
	font-size: 12px;
	color: #FFF;
}
.axis path,
.axis line {
	fill: none;
	stroke: #FFF;
	stroke-width: 1.1;
	shape-rendering: crispEdges;
}
.y.axis line,
.y.axis path {
	display: none;
}

/* map */
.map-img path {
	stroke-width: 1px;
	fill: transparent;
}
.areas path {
	stroke: #2a9fd6;
}

.compare-nav {
	padding-left: 50px;
	padding-top: 2em;
}

/* gauge */
.gauge-glass-img {
	height: 505px;
	width: 113px;
}
.bottle-img {
	height: 505px;
	width: 155px;
}
@media (min-width: 989px) {
	.gauge-glass-img {
		margin-top: -105px;
	}
	.bottle-img {
		margin-top: -63px;
	}
}
.gauge-bar-img {
	height: 100px;
	width: 100%;
	max-width: 515px;
	margin-top: 5px;
}
.gauge-glass {
	stroke: #FFF;
	stroke-width: 2;
	stroke-miterlimit: 10;
	fill: none;
}
.table-gauge-description {
	width: auto;
}
.table-gauge-description th {
	font-weight: normal;
	max-width: 140px;
}
.gauge-glass-description {
	margin-top: 48px;
	margin-right: 16px;
}
.gauge-values path,
.gauge-value,
.gauge-bubbles {
	fill: #2a9fd6;
}
.gauge-value-2 {
	opacity: 0.8;
}
.gauge-lines line {
	stroke: #FFF;
	stroke-width: 2;
}
.gauge-lines text {
	fill: #FFF;
	font-size: 20px;
}
.average-indicator {
	stroke: #FF0000;
	stroke-width: 2;
}
.gauge-unit {
	fill: #FFF;
	font-size: 16px;
}
.gauge-container {
	position: relative;
}
.gauge-description h3 {
	margin-top: 0 !important;
}
.gauge-bar-1 {
	fill: #6C9BD0;
}
.gauge-bar-2 {
	fill: #98BBE0;
}
.gauge-bar-3 {
	fill: #D6E5F3;
}
.gauge-bar-labels text {
	fill: #FFF;
	font-size: 24px;
}
.gauge-value-indicators circle {
	fill: #FF0000;
	stroke-width: 1.6;
	stroke: #AAA;
}
.range-indicator {
	stroke: #FFF;
	stroke-width: 1;
}
.range-indicator-bar {
	stroke: #FFF;
	stroke-width: 1;
}
#hardness-range-indicator .range-indicator-bar {
	stroke: #333;
}
